
<div class="box">
        
    <div class="form-box">
        <h2>Criar Conta</h2>
        
        <form #form="ngForm" (ngSubmit)="cadastro(form)"  method="POST">
            <div class="input-group">
                <label for="nome"> Nome </label>
                <input type="text" name="nome" id="nome" placeholder="Digite o seu nome completo" ngModel required>
            </div>

            <div class="input-group">
                <label for="sobrenome"> Sobrenome </label>
                <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite o seu Sobrenome"  ngModel required>
            </div>
  
            <div class="input-group">
                <label for="telefone">Telefone</label>
                <input type="tel" name="telefone" id="telefone" placeholder="Digite o seu telefone" ngModel required>
            </div>

            <div class="input-group">
                <label for="telefone">CPF</label>
                <input type="CPF" name="CPF" id="CPF" placeholder="Digite o seu CPF" ngModel required>
            </div>
  
            <div class="input-group w50">
                <label for="idade">Idade</label>
                <input type="idade"  name="idade"  id="idade" class="inputUser" placeholder="Digite sua idade" ngModel required>
            </div>

            <div class="input-group">
                <label for="endereco">Endereço</label>
                <input type="endereco"  name="endereco"  id="endereco" class="inputUser" placeholder="Digite seu Endereço"  ngModel required>
            </div>
  
            <div class="input-group">
                <button type="submit" name="enviar" value="Entrar" >Cadastrar</button>
            </div>
        
        </form>
  </div>

